[user]
	name = Zhang Li
	email = xiaoxin88214@163.com
[core]
	editor = 'st'
[push]
	default = simple
[alias]
	co = commit
	re = remote
	st = status
	br = branch
	ch = checkout
    ls = log --oneline
    caa = commit -a --amend -C HEAD
[rerere]
	enabled = true
